services:
  - type: web
    name: email-intelligence-api
    runtime: go
    rootDir: email-checker-backend
    buildCommand: |
      go mod download
      go build -ldflags="-w -s" -o app cmd/server/main.go
    startCommand: ./app
    envVars:
      - key: PORT
        value: 8080
      - key: GIN_MODE
        value: release
      - key: GO111MODULE
        value: on
      - key: CORS_ALLOWED_ORIGINS
        value: https://email-intelligence-platform-eora.vercel.app,http://localhost:3000,https://email-intelligence-platform.vercel.app
    healthCheckPath: /api/v1/health
